/* *{
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
} */

.header{
    padding-top: 10px;
    width: 100%;    
    height: 38px;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 25.4px;
    line-height: 38px;
    display: flex;
    color: #000000;
    justify-content: center;
    /* flex: none; */
    /* order: 1; */
    /* flex-grow: 0; */
    align-items: center;
    /* color: #000000; */
    /* justify-content: center;}*/
}

#span{
    font-weight: 700;
}

#img1{
    box-sizing: border-box;
    width: 43.7px;
    height: 43.65px;
    /* background: #212121; */
    border: 0.45px solid #FFFFFF;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: center;
    /* gap: 24px; */
    height: 80vh
}

#wtxt1{
    display: flex;
    width: auto;
    margin-bottom: 10px;
    height: 74px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 49.4px;
    align-items: center;
    justify-content: center;
    line-height: 74px;
    background: linear-gradient(90.33deg, #000000 0.12%, #6C6C6C 100%);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#wtxt2{
    width: 773px;
    height: 123px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 27.4px;
    line-height: 41px;
    text-align: center;
    color: #818181;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    /* background-color: #f4511e; */
    border: 0.5px solid #000000;
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18.4px;
    line-height: 28px;
    /* identical to box height */
    text-align: center;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }